In [1]:
"Overview"
'In this notebook, I am learning how to open my excel file in python jupyter note'

'In this notebook, I am learning how to open my excel file in python jupyter note'

In [2]:
import pandas as pd
import numpy as np

In [3]:
example_table=pd.read_excel('check_loan.xlsx')

In [4]:
example_table

,Unnamed: 0,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard,Personal Loan,Model Prediction Probability
0,0,1,25,1,49,91107,4,1.6,1,0,1,0,0,0,0,0.0
1,1,2,45,19,34,90089,3,1.5,1,0,1,0,0,0,0,0.0
2,2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0,0.0
3,3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0,0.0
4,4,5,35,8,45,91330,4,1.0,2,0,0,0,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995,4996,29,3,40,92697,1,1.9,3,0,0,0,1,0,0,0.0
4996,4996,4997,30,4,15,92037,4,0.4,1,85,0,0,1,0,0,0.0
4997,4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0,0.0
4998,4998,4999,65,40,49,90034,3,0.5,2,0,0,0,1,0,0,0.0
4999,4999,5000,28,4,83,92612,3,0.8,1,0,0,0,1,1,0,0.0

In [1]:
### strings
name="Moruf"

In [2]:
print(name)

Moruf

In [3]:
salute="Hello World!"

In [4]:
print(salute)

Hello World!

In [2]:
### variables
name="Moruf"
greet="Hello,World!"

In [3]:
print(name)
print(name,greet)

Moruf
Moruf Hello,World!